@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    /* Colores */
    --p-Green: #197F5B;
    --p-Orange: #EF9919;

    --n-WhiteOne: #f9f5f2;
    --n-WhiteFull: #FFF;
    --n-Black: rgb(65, 63, 64);

    --s-boxForm: rgb(237, 228, 219);
    --s-boxFormBackground: rgb(248, 245, 242);
    --s-formPlaceHolder: rgba(128, 128, 128, 0.6);

    --navbarHeigth: 3.5rem;

    --swiper-theme-color: #197f5b;
    --s-navColor: #b98434; 
}

/* Reseteo del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 4px;
    background-color: var(--s-boxForm);
}
body::-webkit-scrollbar-thumb { /* Para estilar el */
    background-color: #197f5b9c;
    border-radius: 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h2 {
    color: var(--n-Black);
    text-align: center;
    font-size: 2rem;
}
h4 {
    color: var(--n-Black);
}


/* FUENTES: M: Mobile; D: Desktop */
.f-poppins-title-600 {
    font-weight: 600;
    font-size: 32px;
}

.f-poppins-subtitle-600 {
    font-weight: 600;
    font-size: 30px;
}

.f-poppins-body-400 {
    font-weight: 400;
    font-size: 16px;
}
/* Algunas utilitarias */
.behind {
    opacity: 0.2;
}
/* ?????????????????????? */
/* *TEMPORLES* */
.portfolio__pool img {
    width: 100%;
}

.main .main__container > * {
    padding-top: var(--navbarHeigth);
    padding-left: 1rem;
    padding-right: 1rem;
}
/* ?????????????????????? */

/* *1. Contenedor que reempaza al body */

.main {
    position: relative;

    display: flex;
    justify-content: center;
    min-height: 100vh;

    min-width: 375px;
}

/* *2. Navbar */
.main .main__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;


    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: var(--navbarHeigth);
    z-index: 3000;

    /* background-color: var(--p-Green); */ /* ? */
    background-color: #197f5b;
}



.main__navbar ul {
    background-color: var(--s-navColor); /* ? */
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 0 1rem;
    gap: 5rem;

    transform: translateX(-100%);
    transition: transform 0.5s, box-shadow 0.2s;
    
}
/*  */
.main__navbar .navbar__show {
    transform: translateX(0%);
    -webkit-box-shadow: 14px 0px 83px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 0px 83px -17px rgba(0,0,0,0.75);
    box-shadow: 14px 0px 83px -17px rgba(0,0,0,0.75);
}
/*  */

.main__navbar ul a svg{
    fill: #000 ;
    width: 50%;
    text-align: center;
    transition: transform 0.4s, filter 0.4s;
}
.main__navbar ul a svg:hover{
    transform: scale(1.3);
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
    
}
.main__navbar ul .navbar__links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__navbar > a {
    line-height: 0;
    width: 1.5rem; 
    fill: var(--n-WhiteFull);
    transition: transform 0.4s, fill 0.4s;
}
.main__navbar > a:hover {
    transform: scale(1.2);
    fill: var(--p-Orange);
}

.main__navbar .navbar__icon {
    display: flex;
    align-items: center;
    position: relative;
    width: 2rem;
    height: 2rem;
    line-height: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main__navbar .navbar__icon svg {
    stroke: var(--n-WhiteFull);
    transition: stroke 0.4s;
    position: absolute;
    right: 0;
    transition: transform 0.4s, stroke 0.4s;
}
.main__navbar .navbar__icon svg:hover {
    stroke: var(--p-Orange);
}

.main__navbar .navbar__icon i {
    font-size: 2rem;
    color: var(--n-WhiteFull);
    position: absolute;
    right: -0.3rem;

    transform: translateX(400%);
    transition: transform 0.4s, color 0.4s;
}

.navbar__icon i:hover {
    color: var(--p-Orange);
}

@media (min-width: 675px) {
    .main__navbar ul {
        background-color: transparent; /* ? */
        position: static;
    
        height: auto;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        
        padding: 0 0rem;
    
        transform: translateX(0);
        transition: none;
    }
    
    .main__navbar ul a{
        line-height: 0;
        width: 1.5rem; 
        align-self: center;
        color: var(--n-WhiteFull);
    }

    .main__navbar ul a svg{
        width: 1.5rem; 
        fill: var(--n-WhiteFull);
        transition: transform 0.4s, fill 0.4s;
    }
    .main__navbar ul a svg:hover{
        width: 1.5rem; 
        fill: var(--p-Orange);
        filter: none;
    }
    
    .main__navbar ul .navbar__links{
        flex-direction: row;
        font-size: 0.6rem;
    }
    
    .main__navbar > a {
        display: none;
    }

    .main__navbar .navbar__icon {
        display: none;
    }
}

@media (min-width: 910px) {
    .main__navbar ul .navbar__links{
        font-size: 0.8rem;
    }

}
@media (min-width: 1024px) {
    .main__navbar ul .navbar__links {
        font-size: 1rem;
    }
}

/* *3. Contenedor padre*/
.main .main__container {
    position: relative;
    top: 0;
    right: 0;
    max-width: 674px; /* ?Mediaquery */
    min-width: 375px;

    display: flex;
    flex-direction: column;
    gap: 1rem;  

    /* background-color: aqua; */ /* ? */
    transition: transform 0.5s;
}

.main .main__containerShowMenu {
    transform: translateX(4rem) !important;
}

/* *3.1 Figura geométrica del header*/
.main__container .container__figure {
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.container__figure .figure__rectangle {
    background-color: var(--p-Green);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26.5rem;
    z-index: -1000;
}

.container__figure .figure__trapeze {
    position: absolute;
    top: 26.46rem;
    left: 0;

    width: 100%;
    height: 0px;
    z-index: -1000;

    border-right: 8.5rem solid transparent;
    border-left: 8.5rem solid transparent;
    border-top: 15rem solid var(--p-Green);
}

/* *3.2 Header */
.main__container .container__header {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

/* 3.1.1 Imagen */
.container__header .header__image {
    position: relative;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 11rem;
}

.header__image .image__info{
    position: absolute;

    background-color: var(--n-WhiteFull);
    font-size: 0.6rem;
    width: 5.7rem;
    text-align: center;
    padding: 0.5rem 0rem;
    border-radius: 2rem;
    line-height: 0.7rem;
    z-index: 2000;
}

.image__info:nth-child(1) {
    top: -1.5rem;
    left: -2.7rem;
}
.image__info:nth-child(2) {
    bottom: -0.05rem;
    right: -2.7rem;
}

.image__info:nth-child(3) {
    top: -1.2rem;
    left: -2.7rem;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.image__info:nth-child(4) {
    bottom: -0.35rem;
    right: -2.7rem;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.image__info span{
    color: var(--p-Orange);
}

.header__image img:nth-child(5) {
    width: 100%;
    border-radius: 3rem;

}

.header__image img:nth-child(6){
    display: none;
    border-radius: 5rem;
}
/* 3.1.2 Nombre y lo que hago */
.container__header .header__presentation {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--n-WhiteFull);
}
.header__presentation h1{
    font-weight: 400;
}

.header__presentation h1 span{
    color: var(--p-Orange);
}
.header__presentation p {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

/* 3.1.3 Iconos redes sociales */
.container__header .header__socialIcons {
    font-size: 0;
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}

.header__socialIcons a {
    background-color: var(--n-WhiteFull);
    border-radius: 50%;
    padding: 0.5rem;
    transition: background-color 0.4s, transform 0.4s
}

.header__socialIcons a:hover {
    background-color: var(--p-Orange);
    transform: scale(1.3);
}

.header__socialIcons a svg {
    width: 1.5rem;
}
/* 3.1.4 Dejar el contacto */
.container__header .header__email {
    background-color: var(--s-boxFormBackground);
    padding: 1rem 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.header__email h3 {
    font-size: 1.25rem;
    color: var(--n-Black);
}

.header__email .email__form {
    position: relative;
    width: 100%;
    height: 2.5rem;

}

.email__form form input {
    background-color: var(--s-boxForm);
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border: 0;
    border-radius: 3rem;
    padding: 0.7rem 1.3rem;
    width: 100%;
    caret-color: grey;
    color: var(--s-formPlaceHolder);
    font-size: 0.65rem;
    
}
.email__form form input::placeholder {
    font-size: 0.8rem;
    color: var(--s-formPlaceHolder);
}


.email__form form button {
    position: absolute;
    top: 0.13rem;
    right: 0.2rem;
    border: 0;
    background-color: var(--p-Green);
    border-radius: 3rem;
    padding: 0.3rem;
    width: 33%;
    height: 85%;

    color: var(--s-boxForm);
    font-size: 1rem;

    transition: background-color 0.4s, color 0.4s;
}
.buttonGreen:hover {
    background-color: #2d916e;
    color: var(--p-Orange);
    cursor: pointer;
}
/* *3.3 Acerca de */

/* mi */
.main__container .container__about {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;

}

.container__about .about__me {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.about__me p {
    /* background-color: #EF9919; */
    padding-left: 0.7rem;
    border-left: var(--p-Green) solid 0.35rem;
}
.about__me a {
    background-color: var(--p-Green);
    color: var(--n-WhiteFull);
    align-self: center;
    width: 11rem;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;

    transition: background-color 0.4s, color 0.4s;
}
.about__me a svg path{
    height: 1;
    stroke: var(--n-WhiteFull);
}


/* estudios */
.container__about .about__studies {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__studies .studies__places{ 
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}
.studies__places .places__colleges{
    background-color: var(--s-boxFormBackground); /* ? */
    width: 45%;
    justify-self: center;
    height: 12rem;
    border-radius: 0.8rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--n-Black);
}
.places__colleges img {
    width: 25%;
}
.places__colleges h4{
    line-height: 1.1rem;
}

.places__colleges span{
    font-size: 0.8rem;
}

.places__colleges p{
    line-height: 1rem;
    font-size: 0.9rem;
}
/* *3.4 Habilidades */
.main__container .container__skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.container__skills .skills__values {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skills__values .values__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    justify-content: space-between;
    gap: 0.4rem;
}


.values__info span {
    color: var(--p-Green);
    font-size: 0.75rem;
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: bold;
}

.values__info .info__bar {
    background-color: var(--s-boxForm);
    width: 100%;
    border-radius: 1rem;
    grid-area: 2 / 1 / 2 / -1;
    
    overflow: hidden;
}

.info__bar .bar__progress {
    background-color: var(--p-Green);
    height: 100%;
    border-radius: 1rem;
    /* animation: barProgress 1.5s; */
    transform: translateX(-100%);
    transition: transform 1.5s;

}

.values__info:nth-child(1) .info__bar .bar__progress {
    width: 80%;
}
.values__info:nth-child(2) .info__bar .bar__progress {
    width: 95%;
}
.values__info:nth-child(3) .info__bar .bar__progress {
    width: 90%;
}
.values__info:nth-child(4) .info__bar .bar__progress{
    width: 75%;
}

.info__bar .visible {
    transform: translateX(0);
}

/* @keyframes barProgress {
    0% {
        transform: translateX(-100%)
    }
    100% {
        transform: translateX(0%)
    }
}
 */

 /* *3.5 Experience (swiper) */
/* .main__container .container__experience {
    background-color: rgba(0, 0, 0, 0.521);
}
 */
/* .container__experience .experience__items {
    background-color: rgba(0, 0, 255, 0.596);
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;

}
*/
/* .experience__items .swiper {
    width: 100%;

    background-color: blueviolet; 
}
 */
.main__container .container__experience {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.container__experience .experience__items {
    background-color: var(--s-boxForm);
    padding: 2rem 0rem; 
}

.experience__items .items__pool {
    overflow: visible;
    padding: 0rem 1.5rem 0rem 1.5rem;
    cursor: grab;

}

.experience__items .pool__charge{
    height: 13rem;
    /* background-color: #cf6a1c; */
    /* display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between;
    text-align: center; */

    padding: 1.5rem 1rem 0rem 1rem;

    /*  */
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    /*  */
}

.pool__charge .charge__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}
.swiper-wrapper .pool__charge .charge__info p {
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--n-Black);
}

.items__pool .swipper-wrapper {
    width: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -1.4rem;
}

.experience__items .swiper .swiper-pagination {
    opacity: 0.25;
    transition: opacity 0.5s;
}
.experience__items:hover .swiper .swiper-pagination {
    opacity: 1;
}

.swiper-button-next, 
.swiper-button-prev {
    color: var(--n-WhiteFull);
    background-color: var(--p-Orange);
    border-radius: 50%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 1.6rem;
    height: 1.6rem;
    transition: color 0.2s, background-color 0.2s;
} 

.swiper-button-next:active, 
.swiper-button-prev:active {
    color: var(--p-Orange);
    background-color: var(--n-WhiteFull);
    
} 

.swiper-button-next::after, 
.swiper-button-prev::after {
    font-size: 0.5rem;
    font-weight: bold;
}

/* *3.6 Portafolio */
.main__container .container__portfolio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container__portfolio .portfolio__pool {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.85fr 1fr;
    gap: 1rem;
}

.portfolio__pool img {
    width: 100%;
}

.portfolio__pool img:nth-child(1) {
    grid-column: 1 / -1;
}
.portfolio__pool img:nth-child(3) {
    align-self: flex-end;
}
.portfolio__pool img:nth-child(4) {
    grid-column: 1 / -1;

}

/* *3.7 Contacto */
.main__container .container__contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.container__contact .contact__pool {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.contact__pool .pool__way {
    /* background-color: rgb(9, 255, 0); */
    cursor: pointer;
    display: flex;
    flex-direction: column;
        align-items: center;
    width: 50%;
    padding: 1.6rem 0rem;
    gap: 2rem;

    transition: transform 0.5s, -webkit-box-shadow 0.5s, -moz-box-shadow 0.5s, box-shadow 0.5s;
}
.contact__pool .pool__way:hover {
    -webkit-box-shadow: 0px 22px 29px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 22px 29px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 22px 29px -12px rgba(0,0,0,0.75);
    transform: translateY(-1rem);
}

.pool__way .way__icon {
    background-color: var(--s-boxForm);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 1rem;
}

.pool__way .way__icon svg{
    width: 100%;
}
.pool__way .way__text {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.pool__way .way__text p{
    font-size: 0.6rem;
    color: var(--n-Black);
}

/* *4. Footer */
.main__container .container__footer {
    background-color: var(--p-Green);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;

}

.container__footer h2{
    color: var(--n-WhiteFull);
    
}
.container__footer p{
    color: var(--n-WhiteFull);
    font-size: 0.85rem;
    
}


@media (min-width: 675px) {

    .main .main__container {
        max-width: 1080px;
    }
    .main .main__container > *:nth-child(1) ~ * {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .container__figure .figure__rectangle {
        height: 35rem;
    }

    .container__figure .figure__trapeze {
        top: 34.95rem;

        border-top: 18rem solid var(--p-Green);
        border-right: 10rem solid transparent;
        border-left: 10rem solid transparent;
        
    }
    
    

    .container__header .header__image {
        width: 20rem;
    }

    .header__image .image__info{
    
        font-size: 1rem;
        width: 50%;
        padding: 1rem 0rem;
        border-radius: 2rem;
        line-height: 1rem;
    }

    .image__info:nth-child(1) {
        top: 1.5rem;
        left: -6rem;
    }
    .image__info:nth-child(2) {
        bottom: 1.6rem;
        right: -5rem;
    }
    
    .image__info:nth-child(3) {
        top: 2rem;
        left: -6rem;
        z-index: 1000;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .image__info:nth-child(4) {
        bottom: 1.1rem;
        right: -5rem;
        z-index: 1000;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    .header__image img:nth-child(5) {
        display: none;
    }

    .header__image img:nth-child(6) {
        display: block;
        width: 100%;
    }

    .container__header .header__presentation {
        order: -1;
        gap: 0.4rem
    }

    .header__presentation p {
        font-size: 1.5rem;
        /* line-height: 2.5rem; */
    }

    .header__socialIcons a svg {
        width: 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }


    .about__studies .studies__places{ 
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 1rem;
    }

    .studies__places .places__colleges{ 
        max-width: 16rem;
        height: 15rem;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 1fr;
    }

    .places__colleges img{ 
        justify-self: center;
    }

    .container__skills .skills__values{
        width: calc(16rem * 2 + 1rem);
        align-self: center;
    }

    .main .main__container > .container__experience {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}

@media (min-width: 910px) {
    
    .container__figure .figure__trapeze {
        border-right: 15rem solid transparent;
        border-left: 15rem solid transparent;
    }

    .container__portfolio .portfolio__pool {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    
    }
    .portfolio__pool img:nth-child(1),
    .portfolio__pool img:nth-child(4) {
        width: 50%;
        align-self: flex-start;
        height: auto;
    }
    .portfolio__pool img:nth-child(2),
    .portfolio__pool img:nth-child(3) {
        width: 35%;
        align-self: flex-start;
        height: auto;
    }
    .portfolio__pool img:nth-child(1) {
        align-self: flex-end;
    }



}


@media (min-width: 1024px) {
    .main .main__container {
        max-width: none;
    }
    
    .container__figure .figure__rectangle {
        height: 55rem;
    }

    .container__figure .figure__trapeze {
        top: 54.95rem;

        border-top: 18rem solid var(--p-Green);
        border-right: 15rem solid transparent;
        border-left: 15rem solid transparent;
    }
    .container__header .header__image {
        width: 30rem;
    }

    .header__presentation h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 2rem;
    }

    .header__presentation p {
        font-size: 2rem;
        line-height: 3rem;
    }

    .header__email h3 {
        font-size: 1.5rem;
    }

    .main .main__container > *:nth-child(1) ~ * {
        padding-left: 20%;
        padding-right: 20%;
    }
    .main .main__container .container__experience {
        padding-left: 0;
        padding-right: 0;
    }

    .main .main__container .container__portfolio {
        padding-left: 0;
        padding-right: 0;
        ;
    }
    .container__portfolio .portfolio__pool {
        width: 70%;
        align-self: center;
        justify-content: flex-center;
    }

    .portfolio__pool img:nth-child(1),
    .portfolio__pool img:nth-child(2),
    .portfolio__pool img:nth-child(3),
    .portfolio__pool img:nth-child(4) {
        width: auto;
        height: 18rem;
        align-self: flex-start;
    }

}


@media (min-width: 1120px) {
    .container__figure .figure__trapeze {
        border-right: 20rem solid transparent;
        border-left: 20rem solid transparent;
    }
}
@media (min-width: 1250px) {
    .container__figure .figure__trapeze {
        border-right: 25rem solid transparent;
        border-left: 25rem solid transparent;
    }
}

@media (min-width: 1460px) {
    .container__figure .figure__trapeze {
        border-right: 30rem solid transparent;
        border-left: 30rem solid transparent;
    }
}

@media (min-width: 1560px) {
    .container__figure .figure__rectangle {
        height: 50rem;
    }

    .container__figure .figure__trapeze {
        top: 49.95rem;
        border-right: 30rem solid transparent;
        border-left: 30rem solid transparent;
    }
}