@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    /* Colores */
    --p-Green: #197F5B;
    --p-Orange: #EF9919;

    --n-WhiteOne: #f9f5f2;
    --n-WhiteFull: #FFF;
    --n-Black: rgb(65, 63, 64);

    --s-boxForm: rgb(237, 228, 219);
    --s-boxFormBackground: rgb(248, 245, 242);
    --s-formPlaceHolder: rgba(128, 128, 128, 0.6);

    --navbarHeigth: 3.5rem;
}

/* Reseteo del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: var(--n-Black);
    text-align: center;
    font-size: 2rem;
}

/* FUENTES: M: Mobile; D: Desktop */
.f-poppins-title-600 {
    font-weight: 600;
    font-size: 32px;
}

.f-poppins-subtitle-600 {
    font-weight: 600;
    font-size: 30px;
}

.f-poppins-body-400 {
    font-weight: 400;
    font-size: 16px;
}
/* Algunas utilitarias */
.behind {
    opacity: 0.2;
}
/* ?????????????????????? */
/* *TEMPORLES* */
.portfolio__pool img {
    width: 100%;
}

.main .main__container > * {
    padding-top: var(--navbarHeigth);
    padding-left: 1rem;
    padding-right: 1rem;
}
/* ?????????????????????? */

/* *1. Contenedor que reempaza al body */

.main {
    position: relative;

    display: flex;
    justify-content: center;
    min-height: 100vh;

    min-width: 375px;
}

/* *2. Navbar */
.main .main__navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: var(--navbarHeigth);
    z-index: 3000;

    /* background-color: var(--p-Green); */ /* ? */
    background-color: rgba(0, 255, 255, 0.116);
}



.main__navbar ul {
    background-color: #ef9919; /* ? */
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    padding: 0 1rem;
    gap: 5rem;

    transform: translateX(-100%);
    transition: transform 0.5s, box-shadow 0.2s;
    
}
/*  */
.main__navbar .navbar__show {
    transform: translateX(0%);
    -webkit-box-shadow: 14px 0px 83px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 0px 83px -17px rgba(0,0,0,0.75);
    box-shadow: 14px 0px 83px -17px rgba(0,0,0,0.75);
}
/*  */

.main__navbar ul a svg{
    fill: #000 ;
    width: 75%;
    text-align: center;
}

.main__navbar ul .navbar__links{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__navbar .navbar__icon {
    display: flex;
    align-items: center;
}

.main__navbar .navbar__icon svg {
    fill: var(--n-WhiteFull);
}

/* *3. Contenedor padre*/
.main .main__container {
    position: relative;
    top: 0;
    right: 0;
    max-width: 630px; /* ?Mediaquery */
    min-width: 375px;

    display: flex;
    flex-direction: column;
    gap: 1rem;  

    /* background-color: aqua; */ /* ? */
    transition: transform 0.5s;
}
/*  */
.main .main__containerShowMenu {
    transform: translateX(4rem);
}
/*  */
/* *3.1 Figura geométrica del header*/
.main__container .container__figure {
    position: absolute;
    font-size: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.container__figure .figure__rectangle {
    background-color: var(--p-Green);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 26.5rem;
    z-index: -1000;
}

.container__figure .figure__trapeze {
    position: absolute;
    top: 26.46rem;
    left: 0;

    width: 100%;
    height: 0px;
    z-index: -1000;

    border-right: 8.5rem solid transparent;
    border-left: 8.5rem solid transparent;
    border-top: 15rem solid var(--p-Green);
}

/* *3.2 Header */
.main__container .container__header {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

/* 3.1.1 Imagen */
.container__header .header__image {
    position: relative;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.header__image .image__info{
    position: absolute;

    background-color: var(--n-WhiteFull);
    font-size: 0.6rem;
    width: 5.7rem;
    text-align: center;
    padding: 0.5rem 0rem;
    border-radius: 2rem;
    line-height: 0.7rem;
    z-index: 2000;
}

.image__info:nth-child(1) {
    top: -1.5rem;
    left: -2.7rem;
}
.image__info:nth-child(2) {
    bottom: -0.05rem;
    right: -2.7rem;
}

.image__info:nth-child(3) {
    top: -1.2rem;
    left: -2.7rem;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.image__info:nth-child(4) {
    bottom: -0.35rem;
    right: -2.7rem;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.image__info span{
    color: var(--p-Orange);
}
/* 3.1.2 Nombre y lo que hago */
.container__header .header__presentation {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--n-WhiteFull);
}
.header__presentation h1{
    font-weight: 400;
}

.header__presentation h1 span{
    color: var(--p-Orange);
}
.header__presentation p {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

/* 3.1.3 Iconos redes sociales */
.container__header .header__socialIcons {
    font-size: 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.header__socialIcons a {
    background-color: var(--n-WhiteFull);
    border-radius: 50%;
    padding: 0.5rem;
}

/* 3.1.4 Dejar el contacto */
.container__header .header__email {
    background-color: var(--s-boxFormBackground);
    padding: 1rem 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.header__email h3 {
    font-size: 1.25rem;
    color: var(--n-Black);
}

.header__email .email__form {
    position: relative;
    width: 100%;
    height: 2.5rem;

}

.email__form form input {
    background-color: var(--s-boxForm);
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    border: 0;
    border-radius: 3rem;
    padding: 0.7rem 1.3rem;
    width: 100%;
    caret-color: grey;
    color: var(--s-formPlaceHolder);
    font-size: 0.65rem;
    
}
.email__form form input::placeholder {
    font-size: 0.8rem;
    color: var(--s-formPlaceHolder);
}


.email__form form button {
    position: absolute;
    top: 0.15rem;
    right: 0.2rem;
    border: 0;
    background-color: var(--p-Green);
    border-radius: 3rem;
    padding: 0.3rem;
    width: 33%;
    height: 85%;

    color: var(--s-boxForm);
    font-size: 1rem;
}
/* *3.3 Acerca de */

/* mi */
.main__container .container__about {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;

}

.container__about .about__me {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.about__me p {
    /* background-color: #EF9919; */
    padding-left: 0.7rem;
    border-left: var(--p-Green) solid 0.35rem;
}
.about__me a {
    background-color: var(--p-Green);
    color: var(--n-WhiteFull);
    align-self: center;
    width: 11rem;
    padding: 0.5rem 0.5rem;
    border-radius: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
}
.about__me a svg path{
    height: 1;
    stroke: var(--n-WhiteFull);
}


/* estudios */
.container__about .about__studies {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__studies .studies__places{ 
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}
.studies__places .places__colleges{
    background-color: var(--s-boxFormBackground); /* ? */
    width: 45%;
    justify-self: center;
    height: 12rem;
    border-radius: 0.8rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--n-Black);
}

.places__colleges h4{
    line-height: 1.1rem;
}

.places__colleges span{
    font-size: 0.8rem;
}

.places__colleges p{
    line-height: 1rem;
    font-size: 0.9rem;
}